@import "tailwindcss";

@theme {
  --font-primary: "SN Pro", "sans-serif";
  /* --font-secondary: "Roboto Condensed", "sans-serif"; */
  --color-primary: #c87235;
  --color-black: #131313;
  --color-muted: #a9a9a9;
  --color-foreground: #f9f9f9;
  --color-danger: #ff0000;
}

@layer base {
  body {
    @apply bg-foreground text-black font-primary selection:text-white selection:bg-primary;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #eeeeee transparent;
  }

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border-radius: 999px;
  }

  /* hide scrollbar */
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

}
